extends _base

block content
  main
    p #{__('index')} - P#{page.current}
      if page.total > 1
        if page.next
          a(href=url_for(page.next_link)) #{__('next')}
        if page.prev
          a(href=url_for(page.prev_link)) #{__('prev')}
    each post in page.posts.toArray()
      +item(post)
